[tool.poetry]
name = "assertive"
version = "0.1.0"
description = "A small assertion library for testing"
authors = ["Peter Daly"]
license = "MIT"
homepage = "https://github.com/peter-daly/assertive"
repository = "https://github.com/peter-daly/assertive"
documentation = "https://github.com/peter-daly/assertive"
readme = "README.md"
classifiers = [
    "Development Status :: 5 - Production/Stable",
]
packages = [
    { include = "assertive" },
]
include = ["CHANGES.rst"]

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.group.dev.dependencies]
pytest = "^7.0.0"
pytest-cov = "^4.0.0"
pytest-asyncio = "^0.21.1"
wily = "^1.24.0"
pyright = "^1.1.372"
ruff = "^0.5.4"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs = "^1.5.3"
mkdocstrings = "^0.24.3"
mkdocs-coverage = "^1.0.0"
mkdocs-material = "^9.5.17"
mkdocstrings-python = "^1.9.2"
mkdocs-gen-files = "^0.5.0"
mkdocs-literate-nav = "^0.6.1"
mkdocs-section-index = "^0.3.8"
mkdocs-puml = "^1.3.0"


[tool.coverage.paths]
source = ["assertive"]
tests = ["tests"]

[tool.black]

[tool.isort]
profile = "black"

[tool.flakeheaven]
format = "grouped"
show_source = true
max_complexity = 10


[tool.coverage.run]
branch = true
source = ["assertive", "tests"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"